* {
  box-sizing: border-box;
}

.slideshow-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides {
  display: none;
  position: absolute;
}

.change {
  -webkit-animation-name: change;
  -webkit-animation-duration: 1.5s;
  animation-name: change;
  animation-duration: 1.5s;
}

.next,
.prev {
  position: absolute;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

@-webkit-keyframes change {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes change {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
