* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(192, 212, 231);
}

.counter {
  text-align: center;
  margin: 1rem;
}

.number {
  font-size: 4rem;
}

button {
  cursor: pointer;
  padding: 5px 15px;
  border: none;
  border-radius: 2px;
  margin: 1rem;
  font-size: 2rem;
  color: #fff;
  background-color: rgb(13, 122, 218);
}

button:hover {
  background-color: rgb(70, 154, 228);
}
